/* reset margin, padding */
body {
    margin : 0 !important;
    padding : 0 !important;
}

.banner{
    border: 1px solid red;
    height : 500px;
    width : 500px;
    background-image: url('./mod1.jpg');
}